/* Author - Pawan Kumar */

/* Default Values */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* To align sections exactly below navbar while click on navbar menus */
html {
    scroll-padding-top: 8rem;
}

/* website background  */
body {
    background-color: rgb(34, 32, 32);
}

/* Global Variables  */
:root {
    --border-radius: 2rem;
}

/* Class to make any element flex */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-heading {
    font-size: 5rem;
    color: rgb(255, 188, 63);
    text-shadow: 0.2rem 0.2rem 0.3rem rgb(8, 8, 8);
    padding: 2rem;
}

.secondry-heading {
    padding: 1rem;
    font-size: 1.7rem;
}

/* img {
    max-width: 100%;
    height: auto;
} */

/* Class to make any text-alignment  justify  */
.justify {
    text-align: justify;
}

/* Class to highlight restaurant name throughtout website */
.rinzerio {
    font-weight: bold;
}

/* To make navigation bar sticky  */
header {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1000;
}

/* Navigation bar */
#navbar {
    position: sticky;
    top: 0;
    border-radius: var(--border-radius);
    background: url("/img/nav_back1.jpg") no-repeat center center/cover;
    background-size: 100%;
    display: flex;
    align-items: center;
    height: 8rem;
    opacity: 95%;
    width: 100%;
}

/* logo */
#logo {
    display: flex;
}

#logo img {
    margin: 1.5rem 1.5rem;
    height: 8rem;
    width: 8rem;
    opacity: 85%;
}

ul {
    display: flex;
    list-style: none;
}

/* navigation menus  */
#navbar ul li {
    padding: 3rem;
}

#navbar ul li a {
    font-family: "Playwrite NG Modern", cursive;
    display: block;
    color: rgb(240, 224, 132);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

/* styling to apply effects while hovering over navbar menus and while navbar menu sections are active  */
#navbar ul li a:hover,
#navbar ul li a:active {
    text-shadow: 0px 0px 5px;
}

/* home section */

/* styling for text in home section paragraphs */
.home-container {
    width: 100%;
    height: 38rem;
}

/* Random Backgrounds for home section */
#random_bg {
    position: absolute;
    width: 100%;
    height: 46rem;
    background-size: cover;
    background-position: center;
    z-index: -5;
    opacity: 70%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#home {
    flex-direction: column;
    padding: 1rem 15rem;
    color: wheat;
    height: 30rem;
    text-align: center;
}

.home-content {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
}

/* Menu Section */
.menu-container {
    display: grid;
    width: 100%;
    justify-content: center;
}

.menu_images {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.menu-image {
    width: 25rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#menu1,
#menu2,
#menu3,
#menu4 {
    display: flex;
    width: 25rem;
    margin: 2rem;
}

.menu-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 100px rgb(240, 224, 132);
}


/* Services Section */
.box #dine-in,
.box #take-away,
.box #home-delivery {
    background-color: rgba(196, 186, 169, 0.308);
    border: 2px solid black;
    border-radius: var(--border-radius);
    margin: 2rem;
    width: 18rem;
    height: 24rem;
    padding: 2rem;
    color: rgb(0, 0, 0);
}

#services #dine-in img,
#services #take-away img,
#services #home-delivery img {
    height: 6rem;
    width: 7rem;
    display: block;
    margin: auto;
}

/* Contact Us section */
#contactUs {
    background-color: rgb(17, 17, 17);
    border-radius: var(--border-radius);
}

.contact #name,
.contact #email {
    height: 2rem;
    width: 50.3rem;
}

.contact #name,
.contact #email,
.contact #suggestion,
.contact #submit,
.contact #reset {
    font-family: "Playwrite NG Modern", cursive;
    color: rgb(240, 224, 132);
    margin: 1rem;
    text-align: center;
    background-color: transparent;
    border: none;
    border: 2px solid rgb(240, 224, 132);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

.contact #reset,
.contact #submit {
    padding: 10px;
    display: inline-block;
    width: 24.1rem;
}

/* Order Now button at bottom right fixed position */
#ordernow {
    font-family: "Playwrite NG Modern", cursive;
    position: fixed;
    bottom: 2rem;
    right: -10px;
    height: 4rem;
    width: 11rem;
    font-size: 1.2rem;
    color: wheat;
    border: 1px outset black;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.767);
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

/* Styling while hovering on order now button */
#ordernow:hover {
    background-color: rgba(0, 0, 0, 0.781);
    color: rgb(177, 142, 79);
}

/* Copyright footer */
footer {
    background-color: black;
    color: rgb(240, 224, 132);
    font-size: larger;
}

/* for PC and laptop displays */
@media only screen and (min-width: 1300px) and (max-width: 1880px){
   
    html {
        scroll-padding-top: 6rem;
    }

/* logo image  */
    #logo img {
        height: 6rem;
        width: 6rem;
    }

/* navigation bar */
    #navbar {
        border-radius: 1rem;
        height: 6rem;
    }
    
/* Home Section */
    .home-container {
        height: 36rem;
    }

    #home {
        padding: 0.8rem 13rem;
        height: 26rem;
    }
    
    .home-content {
        font-size: 1.4rem;
    }

    #random_bg {
        height: 42rem;
    }
    .primary-heading {
        font-size: 4rem;
        padding: 1.5rem;
    }
    
/* Menu Section */
    .menu_images {
        /* grid-template-columns: repeat(2, auto); */
        gap: 0.4rem;
    }  
    
    #menu1,
    #menu2,
    #menu3,
    #menu4 {
        width: 18.5rem;
        margin: 0.45rem;   
    }

    .menu-image {
        transition: all 0.7s ease-in-out;
    }

    .menu-image:hover {
        transform: scale(1.3);
    }
        
/* Services section */        
    .box #dine-in,
    .box #take-away,
    .box #home-delivery {
        margin: 1rem;
        width: 19rem;
        height: 23rem;
        padding: 1.3rem;
    }

/* Contact Section */
    .contact #name,
    .contact #email,
    .contact #suggestion,
    .contact #submit,
    .contact #reset {
        margin: 0.9rem;
    }

    .contact #suggestion{
        height: 10rem;
    }
}

/* For big tablets and small screens */
@media only screen and (min-width: 1200px) and (max-width: 1300px){
   
    html {
        scroll-padding-top: 6rem;
    }

    /* logo image  */
    #logo img {
        height: 6rem;
        width: 6rem;
    }

/* navigation bar */
    #navbar {
        border-radius: 1rem;
        height: 6rem;
    }
    
/* Home Section */
    .home-container {
        height: 34rem;
    }

    #home {
        padding: 0.8rem 13rem;
        height: 26rem;
    }
    
    .home-content {
        font-size: 1.15rem;
    }

    #random_bg {
        height: 40rem;
    }
    .primary-heading {
        font-size: 3.5rem;
        padding: 1.5rem;
    }
    
/* Menu Section */
    .menu_images {
        grid-template-columns: repeat(2, auto);
        gap: 0.4rem;
    }  
    
    #menu1,
    #menu2,
    #menu3,
    #menu4 {
        width: 25rem;
        margin: 1rem;   
    }
        
/* Services section */        
    .box #dine-in,
    .box #take-away,
    .box #home-delivery {
        margin: 1rem;
        width: 19rem;
        height: 24rem;
        padding: 1.3rem;
    }


    .contact #name,
    .contact #email,
    .contact #suggestion,
    .contact #submit,
    .contact #reset {
        margin: 0.9rem;
    }

    .contact #suggestion{
        height: 10rem;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px){
   
    html {
        scroll-padding-top: 6rem;
    }

    /* logo image  */
    #logo img {
        height: 6rem;
        width: 6rem;
    }

/* navigation bar */
    #navbar {
        border-radius: 1rem;
        height: 6rem;
    }
    
/* Home Section */
    .home-container {
        height: 34rem;
    }

    #home {
        padding: 0.8rem 13rem;
        height: 26rem;
    }
    
    .home-content {
        font-size: 1.15rem;
    }

    #random_bg {
        height: 40rem;
    }
    .primary-heading {
        font-size: 3.3rem;
        padding: 1.3rem;
    }
    
/* Menu Section */
    .menu_images {
        grid-template-columns: repeat(2, auto);
        gap: 0.4rem;
    }  
    
    #menu1,
    #menu2,
    #menu3,
    #menu4 {
        width: 22rem;
        margin: 1rem;   
    }

    .menu-image {
        transition: all 0.7s ease-in-out;
    }

    .menu-image:hover {
        transform: scale(1.3);
    }
        
/* Services section */  
    .secondry-heading {
        padding: 1rem;
        font-size: 1.6rem;
    }

    .box #dine-in,
    .box #take-away,
    .box #home-delivery {
        margin: 1rem;
        width: 19rem;
        height: 24rem;
        padding: 1.3rem;
    }

    #services{
        font-size: 0.95rem;
    }
    .contact #name,
    .contact #email,
    .contact #suggestion,
    .contact #submit,
    .contact #reset {
        margin: 0.9rem;
    }

    .contact #suggestion{
        height: 8rem;
    }

    .contact #reset,
    .contact #submit {
        padding: 8px;
        display: inline-block;
        width: 24.1rem;
    }

/* Order Now button */
     #ordernow {
        position: fixed;
        bottom: 1.5rem;
        right: -10px;
        height: 2.5rem;
        width: 7rem;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 860px) and (max-width: 1000px){
   
    html {
        scroll-padding-top: 6rem;
    }

    /* logo image  */
    #logo img {
        height: 5rem;
        width: 5rem;
    }

/* navigation bar */
    #navbar {
        border-radius: 1rem;
        height: 5rem;
    }

    #navbar ul li a {
        font-size: 1.36rem;
    }
    
/* Home Section */
    .home-container {
        height: 32rem;
    }

    #home {
        padding: 0.8rem 13rem;
        height: 23rem;
    }
    
    .home-content {
        font-size: 1rem;
    }

    #random_bg {
        height: 37rem;
    }
    .primary-heading {
        font-size: 3rem;
        padding: 1.3rem;
    }
    
/* Menu Section */

    .menu_images {
        grid-template-columns: repeat(2, auto);
        gap: 0.4rem;
    }  
    
    #menu1,
    #menu2,
    #menu3,
    #menu4 {
        width: 18rem;
        margin: 1rem;   
    }

/* Services section */  

    .secondry-heading {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .box #dine-in,
    .box #take-away,
    .box #home-delivery {
        margin: 0.5rem;
        width: 19rem;
        height: 24rem;
        padding: 1.3rem;
    }

    #services #dine-in img,
    #services #take-away img,
    #services #home-delivery img {
    height: 5rem;
    width: 6rem;
    }

    #services{
        font-size: 0.9rem;
    }
/* Contact Us Section  */
    .contact #name,
    .contact #email {
        height: 1.7rem;
        width: 40rem;
    }

    .contact #name,
    .contact #email,
    .contact #suggestion,
    .contact #submit,
    .contact #reset {
        margin: 0.5rem;
    }

    .contact #suggestion{
        width: 40rem;
        height: 8rem;
    }

    .contact #reset,
    .contact #submit {
        padding: 7px;
        display: inline-block;
        width: 19.5rem;
    }

    /* Order Now button */
    #ordernow {
        position: fixed;
        bottom: 1.5rem;
        right: -10px;
        height: 2.5rem;
        width: 7rem;
        font-size: 0.8rem;
    }
}


@media only screen and (min-width: 570px) and (max-width: 860px){
   
    html {
        scroll-padding-top: 4rem;
    }

/* logo image  */
    #logo img {
        height: 4rem;
        width: 4rem;
    }

/* navigation bar */
    #navbar {
        border-radius: 1rem;
        height: 4rem;
    }

    #navbar ul li {
        padding: 1.3rem;
    }

    #navbar ul li a {
        font-size: 0.8rem;
    }
    
/* Home Section */
    .home-container {
        height: 18rem;
    }

    #home {
        padding: 0.8rem 8rem;
        height: 14rem;
    }
    
    .home-content {
        font-size: 0.6rem;
    }

    #random_bg {
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
        height: 22rem;
    }

    .primary-heading {
        font-size: 1.5rem;
        padding: 1rem;
    }
    
/* Menu Section */
    .menu_images {
        grid-template-columns: repeat(2, auto);
        gap: 0.3rem;
    }  
    
    #menu1,
    #menu2,
    #menu3,
    #menu4 {
        width: 14rem;
        margin: 0.6rem;   
    }

/* Services section */  

    .secondry-heading {
        font-size: 1rem;
        margin-top: -1rem;
    }

    .box{
        display: grid;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
    }

    .box #dine-in {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'dine_in_image dine_in_heading'
        'dine_in_image dine_in_content';
    }

    #dine_in_image{
        /* border: 1px solid red; */
        grid-area: dine_in_image;
    }
    #dine_in_heading{
        /* border: 1px solid red; */
        grid-area: dine_in_heading;
    }
    #dine_in_content{
        /* border: 1px solid red; */
        grid-area: dine_in_content;
    }

    .box #take-away {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'take_away_image take_away_heading'
        'take_away_image take_away_content';
    }
    #take_away_image{
        /* border: 1px solid red; */
        grid-area: take_away_image ;
    }
    #take_away_heading{
        /* border: 1px solid red; */
        grid-area: take_away_heading ;
    }
    #take_away_content{
        /* border: 1px solid red; */
        grid-area: take_away_content ;
    }

    .box #home-delivery {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'home_delivery_image home_delivery_heading'
        'home_delivery_image home_delivery_content';
    }
    #home_delivery_image{
        /* border: 1px solid red; */
        grid-area: home_delivery_image ;
    }
    #home_delivery_heading{
        /* border: 1px solid red; */
        grid-area: home_delivery_heading ;
    }
    #home_delivery_content{
        /* border: 1px solid red; */
        grid-area: home_delivery_content ;
    }


    .box #dine-in,
    .box #take-away,
    .box #home-delivery {
        margin: 0.2rem;
        width: 90%;
        height: 8rem;
        padding: 1rem;
    }

    #services #dine-in img,
    #services #take-away img,
    #services #home-delivery img {
        height: 6rem;
        width: 6rem;
        display: inline;
        margin: 1rem;
    }

    #services{
        /* border: 1px solid red; */
        font-size: 0.65rem;
        margin-bottom: 1rem;
    }

/* Contact Us Section  */
    .contact #name,
    .contact #email {
        height: 1.7rem;
        width: 27rem;
    }

    .contact #name,
    .contact #email,
    .contact #suggestion,
    .contact #submit,
    .contact #reset {
        margin: 0.5rem;
        font-size: 0.5rem;
    }

    .contact #suggestion{
        width: 27rem;
        height: 5.8rem;
    }

    .contact #reset,
    .contact #submit {
        padding: 5px;
        width: 12.9rem;
    }

    /* Order Now button */
    #ordernow {
        bottom: 1.5rem;
        right: -10px;
        height: 2rem;
        width: 5rem;
        font-size: 0.6rem;
    }

    footer {
        font-size: small;
    }
}


@media only screen and (max-width: 570px){
   
    html {
        scroll-padding-top: 3rem;
    }

    header {
        margin-top: 0;
        position: sticky;
        top: 0;
        display: flex;
        z-index: 1000;
    }
/* logo image  */
    #logo img {
        margin: 0.5rem 0.5rem;
        height: 2.5rem;
        width: 2.5rem;
    }

/* navigation bar */
    #navbar {
        border-radius: 0.5rem;
        height: 3rem;
        justify-content: center;
        /* padding-top: 0; */
    }

    #navbar ul li {
        padding: 0.5rem;
        /* padding-top: 1151rem; */
    }

    #navbar ul li a {
        font-size: 0.65rem;
    }
    
/* Home Section */
    .home-container {
        height: 19rem;
    }

    #home {
        padding: 0.1rem 1rem;
        height: 14rem;
    }
    
    .home-content {
        font-size: 0.6rem;
    }

    #random_bg {
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
        height: 22rem;
    }

    .primary-heading {
        font-size: 1.2rem;
        padding: 1rem;
    }
    
/* Menu Section */
    .menu_images {
        grid-template-columns: repeat(1, auto);
        gap: 0.1rem;
    }  
    
    #menu1,
    #menu2,
    #menu3,
    #menu4 {
        width: 11rem;
        margin: 0.1rem;   
    }

/* Services section */  

    .secondry-heading {
        /* border: 2px solid red; */
        padding: 0.5rem;
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }

    .box{
        display: grid;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
    }

    .box #dine-in {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'dine_in_image dine_in_heading'
        'dine_in_image dine_in_content';
    }

    #dine_in_image{
        /* border: 1px solid red; */
        grid-area: dine_in_image;
    }
    #dine_in_heading{
        /* border: 1px solid red; */
        grid-area: dine_in_heading;
    }
    #dine_in_content{
        /* border: 1px solid red; */
        grid-area: dine_in_content;
    }

    .box #take-away {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'take_away_image take_away_heading'
        'take_away_image take_away_content';
    }
    #take_away_image{
        /* border: 1px solid red; */
        grid-area: take_away_image ;
    }
    #take_away_heading{
        /* border: 1px solid red; */
        grid-area: take_away_heading ;
    }
    #take_away_content{
        /* border: 1px solid red; */
        grid-area: take_away_content ;
    }

    .box #home-delivery {
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'home_delivery_image home_delivery_heading'
        'home_delivery_image home_delivery_content';
    }
    #home_delivery_image{
        /* border: 1px solid red; */
        grid-area: home_delivery_image ;
    }
    #home_delivery_heading{
        /* border: 1px solid red; */
        grid-area: home_delivery_heading ;
    }
    #home_delivery_content{
        /* border: 1px solid red; */
        grid-area: home_delivery_content ;
    }


    .box #dine-in,
    .box #take-away,
    .box #home-delivery {
        margin: 0.2rem;
        width: 80%;
        height: 8rem;
        padding: 0.5rem;
    }

    #services #dine-in img,
    #services #take-away img,
    #services #home-delivery img {
        height: 3.5rem;
        width: 3.5rem;
        display: inline;
        margin: 0.5rem;
        margin-top: 2rem;
    }

    #services{
        /* border: 1px solid red; */
        font-size: 0.4rem;
        margin-bottom: 1rem;
    }

/* Contact Us Section  */
    #contactUs {
        border-radius: 1rem;
    }
    .contact #name,
    .contact #email {
        height: 1rem;
        width: 10rem;
    }

    .contact #name,
    .contact #email,
    .contact #suggestion,
    .contact #submit,
    .contact #reset {
        margin: 0.3rem;
        font-size: 0.5rem;
    }

    .contact #suggestion{
        border-radius: 1rem;
        width: 10rem;
        height: 3rem;
    }

    .contact #reset,
    .contact #submit {
        padding: 3px;
        width: 4.7rem;
    }

    /* Order Now button */
    #ordernow {
        border: 1px solid rgb(240, 224, 132);
        border-radius: 50%;
        bottom: 0.5rem;
        right: 0.5rem;
        height: 2rem;
        width: 2rem;
        font-size: 0.3rem;
    }

    footer {
        font-size:0.4rem;
    }
}